* {
    margin:0px;
}

.login-wrap {
    align-items: center;
    justify-content: center;
    display:flex;
    width:100vw;
    height:100vh;
    color:white;
    background-color: #303136;

    .login-logo {
        border-left: 1px solid #42454B;
        width:20vw;
        height:60vh;
        background-color:#353941;
        border-radius:0px 10px 10px 0px;
        text-align:center;
        // position:relative;

        .login-logo-text {
            font-size:50px;
            margin-top:60%;
            // margin-left:20%;
            // position: absolute;
            // top: 50%;
            // transform: translate(0, -50%);
        }
    }

    .login-box {
        // margin: 0px auto;
        width:40vw;
        height:60vh;
        background-color:#353941;
        // background-color: red;
        border-radius:10px 0px 0px 10px;
        text-align:center;

        .change-form {
            margin:20px auto;
            color:#ccc;
            cursor:pointer;
        }

        .login-message {
            margin-top:50px;
            padding:20px;
            font-size:3em;
        }

        .login-input{
            margin:50px auto;
            width:400px;
            display:flex;
            flex-direction: column;
            text-align: left;
            
            .id,
            .pw {
                margin-bottom:10px;

                >div {
                    margin-left:5px;
                }
            }

            input {
                border-radius:5px;
                width:100%;
                height:30px;
            }

            .account-button {
                margin-left:2px;
                margin-top:20px;

                >button{
                    background-color: #5260E6;
                    color:white;
                    padding: 0.5em 1em;
                    font-size: 1em;
                    font-weight: 500;
                    border: none;
                    border-radius: 5px;              
                    cursor: pointer;
                }
            }
        }
    }
}